body {
  box-sizing: border-box;
  /* background: #f8f7f7; */
}

.bgso {
  background-color: rgba(255, 255, 255, 0.5);
}

.app {
  width: 100%;
  height: 100vh;
  display: block;
  /* position: fixed; */
}

p {
  margin-bottom: 0;
}

.app-menu {
  width: 290px;
  height: 100vh;
  display: block;

}

.app-header {
  width: 100%;
  height: 7vh;
}

.app-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

.app-page {
  width: 100%;
  /* height: 93vh;
  overflow-y: scroll;
  overflow-x: hidden; */
}

.content {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;

  overflow-x: hidden;
}

.user-img {
  height: 100%;
}

.app-defualt-user {
  height: 60px;
}

/* class for use  */
.bg-white {
  background-color: white;
}

.bg-none {
  background: none;
}

.between {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.font-12 {
  font-size: 12px;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-green {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.bg-cyan {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.bg-yellow {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.bg-red {
  background: linear-gradient(60deg, #ef5350, #e53935);
}

.o-50 {
  opacity: 1;
  filter: blur(10px);
  border: 0;
}

.animation {
  animation: animation 0.2s;
}

@keyframes animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animation-2 {
  animation: animation-2 1s;
}

@keyframes animation-2 {
  from {
    opacity: 0.5;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-3 {
  animation: animation-3 3s;
}

@keyframes animation-3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.f-16 {
  font-size: 16px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-10 {
  font-size: 10px;
}

.btn-silver {
  border: 1px solid #898989;
  background: #e8e8e8;
  border-radius: 5px;
  color: rgb(73, 73, 73);
  transition-duration: 0.2s;
}

.btn-silver:hover {
  background: #cecece;

}