.f-label {
    font-size: 16px;
    color: #6a6a6a;
    padding: 10px 0px;
}

.f-input {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 10px;
    transition-duration: 0.2s;
}

.f-input:focus {
    border-bottom: 1px solid #696969;
}

.cursor-i {
    cursor: text;
}

.btn-green {
    background: rgb(76, 156, 39);
    color: white;
    transition-duration: 0.3s;
    border: none;
    padding: 10px 15px;
}

.btn-green:hover {
    background: rgb(56, 117, 28);
}

.btn-red {
    background: rgb(178, 61, 57);
    color: white;
    transition-duration: 0.3s;
    border: none;
    padding: 10px 15px;
}

.btn-red:hover {
    background: rgb(134, 43, 40);
}